<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true"/>
	</solution>
	<config>
		<add key="globalPackagesFolder" value="packages"/>
	</config>
	<activePackageSource>
		<add key="All" value="(Aggregate source)"/>
	</activePackageSource>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
		<add key="Quirco sources" value="../QuircoNugetPackages"/>
	</packageSources>
	<packageSourceMapping>
		<packageSource key="Quirco sources">
			<package pattern="Logus.HMS.Messages*"/>
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*"/>
		</packageSource>
	</packageSourceMapping>
</configuration>